@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin mobile-button-border($color, $horizonal: 15px, $vertical: 25px) {
	background-color: $color; 
	border-top: $horizonal solid $color; 
	border-bottom: $horizonal solid $color; 
	border-left: $vertical solid $color; 
	border-right: $vertical solid $color; 
}