@import 'variables';
@import 'mixins';

.mobile-button {
	font-size: 15px; 
	font-family: $font-family; 
	font-weight: normal; 
	color: #ffffff; 
	text-decoration: none; 
	@include border-radius(3px);
	display: inline-block;
}

.blue {
	@include mobile-button-border(#5D9CEC)
}

.red {
	@include mobile-button-border(#FA563C)
}

.green {
	@include mobile-button-border(#48CFAD)
}

.litmus-gold {
	@include mobile-button-border(#F6BB42, 10px, 20px)
}

.mailchimp-blue {
	@include mobile-button-border(#5D9CEC, 10px, 20px)
}

.campaign-monitor-blue {
	@include mobile-button-border(#4FC1E9, 10px, 20px)
}

.github-blue {
	@include mobile-button-border(#4FC1E9, 10px, 20px)
}

.twitter-blue {
	@include mobile-button-border(#4D98D5, 10px, 20px)
}


